.sa-container {
    background-color: #daf8b7; min-height: 800px;
}
.page-title {
    background-color: greenyellow;
    color: darkblue;
    padding: 10px 25px;
    margin: 15px 0px;
}

.nav > li {
    background-color: chartreuse; color: #555555;
    border: 1px solid lime; border-radius: 5px;
    margin-bottom: 5px;
}

.table { background-color: #c1e09d;}
.table > thead > tr {
    background-color: #799c51;
    color: #ffff75;
}

.sa-form > form {
    background-color: #c1e09d;
    border: 1px solid black;
    padding: 20px;
}


.bebi-form{ background-color: #c2e29d; padding: 15px 20px;}
.fz16 { font-size: 18px;}

.konten-blok { border: 1px solid black; min-height: 100px; margin-top: 15px;}
.konten-head { 
    background-color: #003500; color: #eeeeee; min-height: 40px;
    padding: 15px; font-size: 24px; padding: 10px;
}
.konten-body { background-color: #eeeeee; color: #555555; min-height: 60px; padding: 10px; }

.bg-soft-green {
    background-color: #e7ffbf;
}

#logo-holder { width: 140px; height: 140px;}
#logo-holder > img { width: 100%; }
#login-area > .login-wrapper {
    width: 100%; height: 250px;
    padding: 0; margin: 0;
    background-color: #d0ff85;
    box-shadow: 0px 0px 20px #588f00;
    border-radius: 10px;
}

#login-area > .login-wrapper > .login-header {
    height: 60px; background-color: #5a8318; 
    text-align: center; padding-top: 15px; 
    border-radius: 10px 10px 0px 0px;
}

#login-area > .login-wrapper > .login-header > h3 
{
    font-weight: bold; padding: 0; margin: 0; color: #f7ffeb;
}

#login-area > .login-wrapper > .login-form {
    padding: 20px;
}

#login-area > .login-wrapper > .login-form > form > div
{
    margin-top: 5px;
}